# Ignore build output
_build/
_static/
_sources/
_sphinx_design_static/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary files (common in Python projects)
.log
.DS_Store
*.swp
*.bak
*.log
images/*.psd
.virtual_documents